* {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    text-align: center;
    font-size: 25px;
}

div#container {
    width: 900px;
    border: 1px solid black;
    margin: 35px auto;
    padding: 0;
}

div.image {
    margin: 45px;
    display: inline;
}

img {
    max-width: 100%;
    padding: 10px;
}

#img1,
#img2,
#img3 {
    margin: 10px;
}

#img5 {
    margin: 5px;
}